@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.noto-sans-kr {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.noto-body-light {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
}
.noto-body-regular {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
}
.noto-body-medium {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
}
.noto-body-bold {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

:root {
    --page-bg: #FAF7F0;

    --footer-bg: #F5F1E8;
    --footer-text: #4B4740;
    --link-text: #6D5B4F;
    --link-hover: #8C765E;

    --button-bg: #D9CDBF;
    --button-text: #FFFFFF;
    --button-hover-bg: #C0B49A;
    --button-hover-text: #FFFFFF;
}